body {
  background: url(https://image.cdn2.seaart.ai/2023-06-25/38311547863109/57461105dda71493e6a569738d1db53ed2b8f92d_high.webp);
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  /* flex-direction: column : display flex로 인해 한 줄로 된 컨텐츠들의 방향 설정   */
}
.weather-box {
  border: 3px solid rgb(85, 246, 252);
  border-radius: 15px;
  background-color: blanchedalmond;
  padding: 50px;
}
